@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

nav li {
    list-style-type: none;
}

h1, h2, a, pre, li, span {
    color: white;
    font-family: "Exo 2", sans-serif;
}

p {
    color: white;
}

a {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 2%;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: #0088a9;
}

.div1 {
    text-align: center;
    margin: 15% 15% 10% 15%;
}


.div1 h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 400%;
    margin-bottom: 2%;
}

.div1 p {
    font-family: "Exo 2", sans-serif;
    font-size: 120%;
}

/* .div2 {
    justify-content: space-evenly;
    display: flex;
} */

.div2 {
  display: flex;
}

.column {
  flex: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.div2 .my_selfie {
    margin-left: 20%;
    margin-right: -20%;
}

.div2 .my_selfie img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.div2 .my_info h1 {
    margin-bottom: 4%;
}

.div2 .my_info ul {
    margin-top: 1%;
    margin-left: 15px;
}

.div2 .my_info p {
    font-family: "Exo 2", sans-serif;
    margin-bottom: 4%;
}

.div2 .my_info li {
    margin-bottom: 2%;
}

.div3 {
    margin: 10% 0% 0% 0%;
}

.div3 h1 {
    text-align: center;
}

.div3_section {
    display: flex;
}

.center {
    text-align: center;
}

.stats {
    margin-top: 5%;
}

.stats_item {
    margin-left: 30%;
}